fastapi
uvicorn
pydantic
python-dotenv
beanie
motor
httpx
python-multipart
pycryptodome
openai
apscheduler
python-jose[cryptography]
passlib[bcrypt]
email-validator
bcrypt==4.0.1
requests-oauthlib
google-generativeai
