@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer utilities {
  .glass-card {
    @apply bg-surface/80 backdrop-blur-md border border-white/10 shadow-xl;
  }
  
  .glass-button {
    @apply bg-white/5 hover:bg-white/10 border border-white/5 transition-all duration-300;
  }
}
